body{
    background-color: rgb(9, 98, 177);
}

.titulo{
    color: plum;
}

.parrafo{
    color: black;
}

.parrafo2{
    color: plum;
}

.h21{
    color: black;
}

.h2o{
    color: black;
}

.Titulo3{
    color: plum;
}